# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
gradle
gradlew
gradlew.bat
build
.gradle

# other
eclipse
run
# Enhanced patch build
tools
dist/
__pycache__/
*.pyc
*.log
.DS_Store
